#TradePile .player-stats-data-component, #Unassigned .player-stats-data-component {
  width: 12em;
}
#TradePile .listFUTItem .entityContainer, #Unassigned .listFUTItem .entityContainer {
  width: 45%;
}
#Unassigned .listFUTItem .auction .auctionValue, #Unassigned .listFUTItem .auction .auction-state {
  display: none;
}
#Unassigned .listFUTItem .auction .auctionValue.futbin {
  display: block;
  float: right;
}
.MyClubResults .listFUTItem .auction {
  display: block;
  position: absolute;
  right: 0;
}
.MyClubResults .listFUTItem .auction .auctionValue, .MyClubResults .listFUTItem .auction .auction-state {
  width: 24%;
  float: right;
  padding-right: 1%;
  display: none;
}
.MyClubResults .listFUTItem .auction .auctionValue.futbin {
  display: block;
}
.listFUTItem .auction .auction-state {
  width: 25%;
  float: right;
}
.listFUTItem .auction .auctionValue {
  width: 24%;
  float: left;
  padding-right: 1%;
}
.futbinupdate {
  font-size: 14px;
  clear: both;
  display: block;
}
.coins.value.futbin {
  -webkit-filter: hue-rotate(165deg);
  filter: hue-rotate(165deg);
}

.listFUTItem.has-auction-data.futbin-bargain .rowContent {
  background-color: #0000ff;
}
.listFUTItem.has-auction-data.selected.futbin-bargain .rowContent, .listFUTItem.has-auction-data.selected.futbin-bargain .rowContent.active {
  background-color: #0000ff;
  color: #ffffff;
  border-style: solid;
  border-color: black;
  border-left-color: black;
}

.listFUTItem.has-auction-data.futbin-bid-bargain .rowContent {
  background-color: #add8e6;
}
.listFUTItem.has-auction-data.selected.futbin-bid-bargain .rowContent, .listFUTItem.has-auction-data.selected.futbin-bid-bargain .rowContent.active {
  background-color: #add8e6;
  color: #ffffff;
  border-style: solid;
  border-color: black;
  border-left-color: black;
}

.player-picks-modal .time {
  display: block;
}
.ut-squad-slot-pedestal-view.futbin {
  min-width: 58px;
  flex: none;
  width: auto;
  bottom: -2.2em;
  white-space: nowrap;

  .coins.value {
    text-align: center; 
    margin: 0 8px;
  }
}